@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 85px;
}

.menu {
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F7FA;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 85px;
  width: 100%;
}
.menu__image {
  height: 24px;
  width: auto;
  margin-left: 100px;
}
.menu__nav {
  font-size: 1rem;
}
.menu__item {
  margin: auto 25px auto 25px;
}
.menu__item:hover {
  border-bottom: 1px solid #3a3a3a;
}
.menu__button {
  height: 40px;
  width: 90px;
  border: none;
  background-color: transparent;
  border-radius: 6px;
}
.menu__button:hover {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.45);
}
.menu__button--login {
  color: #4CAF4F;
}
.menu__button--signup {
  color: #FFF;
  background-color: #4CAF4F;
}
.menu__buttons {
  display: inline-flex;
  font-size: 0.9rem;
  margin-right: 100px;
  gap: 15px;
}

.hero {
  width: 100%;
}
.hero__intro {
  background-color: #F5F7FA;
  padding: 96px 144px 96px 144px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
}
.hero__title {
  font-size: 5rem;
  margin-bottom: 5px;
}
.hero__subtitle {
  font-size: 1rem;
  margin-bottom: 32px;
  color: #717171;
}
.hero__title--first {
  color: #4D4D4D;
}
.hero__title--second {
  color: #4CAF4F;
}
.hero__button {
  background-color: #4CAF4F;
  color: #FFF;
  border-radius: 4px;
  font-size: 1rem;
  height: 52px;
  width: 128px;
}
.hero__clients {
  text-align: center;
  margin: 40px 0px 40px 0px;
}
.hero__clients-title {
  font-size: 2.6rem;
  color: #4D4D4D;
}
.hero__clients-subtitle {
  font-size: 1.1rem;
  color: #717171;
  margin-bottom: 16px;
}
.hero__clients-logos {
  display: inline-flex;
  height: 100px;
  align-items: center;
  gap: 9vw;
}
.hero__features {
  text-align: center;
  display: block;
  gap: 30px;
  margin: 0px 144px 0px 144px;
}
.hero__features-title {
  font-size: 2.6rem;
  color: #4D4D4D;
}
.hero__features-subtitle {
  margin: 10px 0px 16px 0px;
  font-size: 1.1rem;
  color: #717171;
}
.hero__features--list {
  display: inline-flex;
  gap: 10vw;
}
.hero__feature--item {
  margin-top: 20px;
}
.hero__feature-image {
  margin-bottom: 16px;
}
.hero__feature-title {
  font-size: 2rem;
  color: #4D4D4D;
  margin-bottom: 10px;
}
.hero__feature-text {
  font-size: 1rem;
  color: #717171;
}

/*# sourceMappingURL=style.css.map */
