@use "_style-reset";

@use "abstracts/breakpoints" as *;
@use "abstracts/mixins" as *;
@use "abstracts/colors" as *;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}


.menu {
    position: fixed;
    z-index: 2;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Silver;
    padding: 0px 100px 0px 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 85px;
    width: 100%;

    &__image {
        height: 24px;
        width: auto;
    }

    &__nav {
        font-size: 1rem;
        display: flex;
        gap: 2vw;
    }

    &__item      {
        border-bottom: 1px solid rgba($color: #3a3a3a, $alpha: 0);
    }

    &__item:hover {
        border-bottom: 1px solid rgba($color: #3a3a3a, $alpha: 1.0);
    }

    &__button {
        height: 40px;
        width: 90px;
        border: none;
        background-color: transparent;
        border-radius: 6px;
    }

    &__button:hover {
        box-shadow: 0px 2px 1px 0px rgba($color: #000000, $alpha: 0.45);
    }

    &__button--login {
        color: $Primary;
    }

    &__button--signup {
        color: $White;
        background-color: $Primary;
    }

    &__buttons {
        display: inline-flex;
        font-size: 0.9rem;
        gap: 15px;
    }

    &__burger {
        display: none;
    }



    &-overlay {
        display: block;
        position: fixed;
        background-color: #00000079;
        margin-top: auto;
        opacity: 0;
        transition: opacity 0.5s ease;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &-overlay.is-open {
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &-mobile {
        display: block;
        padding: 20px;
        position: fixed;
        width: 70%;
        top: 0px;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        transition: transform 1s ease;
        border-radius: 4px;
        background-color: #4CAF4F;
        

        &__nav {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        &__item {
            margin: 10px 0px 10px 0px;
            font-size: 1.8rem;
            color: #D8DBE1;
        }

        &__buttons {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            gap: 40px;
        }

        &__button {
            @extend .menu__button;
            width: 100%;
            font-size: 1rem;
            color: $White;
        }

        &__button--login {
            background-color: #3a3a3a;
        }

        &__button--signup {
            background-color: #3a3a3a;
        }
    }

    &-mobile.is-open {
        transition: transform 1s ease;
        transform: translateX(-50%) translateY(85px);
    }



    @include down($tablet) {
        justify-content: space-between;
        padding: 0px 10% 0px 10%;

        &__nav {
            display: none;
        }

        &__buttons {
            display: none;
        }

        &__burger {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 50px;
            height: 50px;
        }

        &__burger-line {
            width: 100%;
            height: 7px;
            border-radius: 2px;
            background-color: #4CAF4F;
        }
    }
}

.hero {
    width: 100%;
    padding-top: 85px;

    &__intro {
        background-color: $Silver;
        padding: 96px 144px 96px 144px;
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        column-gap: 100px;
        row-gap: 50px;
    }

    &__title {
        font-size: 5rem;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 1rem;
        margin-bottom: 32px;
        color: $Grey;
    }

    &__title--first {
        color: $D_Grey;
    }

    &__title--second {
        color: $Primary;
    }

    &__button {
        background-color: $Primary;
        color: $White;
        border-radius: 4px;
        font-size: 1rem;
        height: 52px;
        width: 128px;
    }

    &__image {
        // max-width: none;
        width: auto;
        height: auto;
    }

    &__clients {
        text-align: center;
        margin: 40px 0px 40px 0px;

        &-title {
            font-size: 2.6rem;
            color: $D_Grey;
        }

        &-subtitle {
            font-size: 1.1rem;
            color: $Grey;
            margin-bottom: 16px;
        }

        &-logos {
            display: inline-flex;
            flex-shrink: 0;
            height: 100px;
            align-items: center;
            gap: 9vw;
        }
    }


    &__features {
        text-align: center;
        display: block;
        gap: 30px;
        margin: 0px 144px 0px 144px;

        &-title {
            font-size: 2.6rem;
            color: $D_Grey;
        }

        &-subtitle {
            margin: 10px 0px 16px 0px;
            font-size: 1.1rem;
            color: $Grey;
        }

        &-list {
         display: inline-flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 9vw;
        }

    }

    &__feature {

        &-item {
            margin-top: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            padding: 10px;
        }

        &-image {
            margin-bottom: 16px;
        }

        &-title {
            font-size: 2rem;
            color: $D_Grey;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 1rem;
            color: $Grey;
        }
    }


    @include down($tablet) {
        

        &__title {
            font-size: 3rem;
        }

        &__intro {
            padding: 96px 100px 96px 100px;
        }

        &__clients-logos {
            gap: 7vw;
        }

        &__features {
            margin: 0px 5px 0px 5px;
        }

        &__clients-logo:nth-child(n+6) {
            display: none;
        }
    }

    @include down($phone) {
        &__clients-logo:nth-child(n+5) {
            display: none;
        }
    }

    @include down($phone) {
        &__intro {
            padding: 96px 10px 96px 10px;
        }
    }
}

.page {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px 144px 0px 144px;

    &__title {
        color: $D_Grey;
        font-size: 2rem;
    }

    &__subtitle {
        margin-top: 20px;
        color: $Grey;
        font-size: 1rem;
    }

    &__button {
        margin-top: 32px;
        width: 151px;
        height: 52px;
        color: $Silver;
        border-radius: 4px;
        font-size: 1rem;
        background-color: $Primary;
    }

    @include down($tablet) {
        padding: 0px 30px 0px 30px;    
    }
}

.stats {
    background-color: $Silver;
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    padding: 64px 144px 64px 144px;
    
    align-items: center;
    justify-content: space-evenly;

    &__title {
        font-size: 2rem;
    }

    &__subtitle {
        font-size: 0.9rem;
    }

    &__list {
        display: grid;
        gap: 30px 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__item {
        display: inline-flex;
        gap: 16px;
    }

    &__number {
        font-size: 1.5rem;
        margin-bottom: 5px;
        color: $D_Grey;
    }

    &__label {
        font-size: 1rem;
        color: $Grey;
    }

    @include down($tablet) {
        padding: 64px 10px 64px 10px;

        &__media {
            width: 38px;
            height: auto;
        }

        &__item {
            gap: 8px;
        }   

        &__number {
            font-size: 1rem;
            margin-bottom: 5px;
            color: $D_Grey;
        }

        &__label {
            font-size: 0.8rem;
            color: $Grey;
        }
    }
}

.process {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        font-size: 2rem;
        color: $D_Grey;
        margin-bottom: 16px;
    }

    &__subtitle {
        font-size: 1rem;
        color: $Grey;
        margin-bottom: 32px;
    }

    &__button {
        height: 50px;
        width: 150px;
        background-color: $Primary;
        font-size: 1rem;
        border-radius: 4px;
        color: $White;
    }

    @include down($tablet) {
        

        &__content {
            padding: 0px 30px 0px 30px;
        }
    }
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 35px 0px 0px 0px;
    align-items: center;
    background-color: $Silver;


    &__text {
        font-size: 1.2rem;
        color: $Grey;
        margin-bottom: 16px;
    }

    &__author {
        font-size: 1.5rem;
        color: $Primary;
        margin-bottom: 10px;
    }

    &__company {
        font-size: 1.3rem;
        color: #89939E;
        margin-bottom: 20px;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        color: $Primary;
        background-color: transparent;
        width: 220px;
        height: 45px;
        font-size: 1.3rem;
    }

    @include down($tablet) {
        padding-bottom: 20px;


        br {
            display: none;
        }

        &__content {
            padding: 0px 30px 0px 30px;
        }
    }

    @include down($phone) {
        &__logo:nth-child(n+3) {
            display: none;
        }
    }
}


.blog {
    text-align: center;
    margin-bottom: 128px;

    &__title {
        font-size: 2rem;
        color: $D_Grey;
        margin: 16px 0px 16px 0px;
    }

    &__subtitle {
        font-size: 1rem;
        color: $Grey;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    &__card {
        margin-top: 200px;
        width: 320px;
        height: 175px;
        padding: 16px;
        background-color: $Silver;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px;

        &-text {
            color: $Grey;
            font-size: 1.3rem;
            margin-bottom: 16px;
        }

        &-button {
            width: 285px;
            height: 45px;
            background-color: transparent;
            color: $Primary;
            font-size: 1.5rem;
        }
    }

    @include down($tablet) {        
        padding: 0px 30px 0px 30px;

        br {
            display: none;
        }

    }

    @include down($phone) {        
        &__card {
            width: none;
            height: none;
            padding: 10px 5px 10px 5px;
        }

    }
}



.cta {
    text-align: center;
    font-size: 2rem;
    padding: 32px 0px 32px 0px;
    background-color: $Silver;

    &__title {
        margin-bottom: 32px;
        color: $Black;
    }

    &__button {
        width: 178px;
        height: 52px;
        color: $Silver;
        border-radius: 4px;
        font-size: 1rem;
        background-color: $Primary;
    }

    @include down($phone) {        
        &__title {
            font-size: 1.8rem;
        }

    }
}

.footer {
    background-color: $Black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 180px;
    row-gap: 50px;
    width: 100%;
    color: $White;
    padding-bottom: 100px;

    &__info {
        padding: 67px 50px 67px 0px;
    }

    &__copyright {
        margin: 50px 0px 10px 0px;
        font-size: 0.9rem;
        color: $Silver;
    }

    &__rights {
        font-size: 0.9rem;
        margin-bottom: 40px;
        color: $Silver;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__columns {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 15px;
        color: $Silver;
    }

    &__link {
        font-size: 1rem;
    }

    &__input {
        margin-top: 30px;
        background-color: #515B60;
        color: #D8DBE1;
        width: 255px;
        height: 40px;
        font-size: 1rem;
        border-radius: 8px;
    }

}