@use "_style-reset";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Variables
$Primary: #4CAF4F;
$Silver: #F5F7FA;
$D_Grey: #4D4D4D;
$Grey: #717171;
$Black: #263238;
$White: #FFF;


body {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

main {
    padding-top: 85px;
}


.menu {
    position: fixed;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: $Silver;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 85px;
    width: 100%;

    &__image {
        height: 24px;
        width: auto;
        margin-left: 100px;
    }

    &__nav {
        font-size: 1rem;
        display: flex;
        gap: 50px;
    }

    &__item      {
        border-bottom: 1px solid rgba($color: #3a3a3a, $alpha: 0);
    }

    &__item:hover {
        border-bottom: 1px solid rgba($color: #3a3a3a, $alpha: 1.0);
    }

    &__button {
        height: 40px;
        width: 90px;
        border: none;
        background-color: transparent;
        border-radius: 6px;
    }

    &__button:hover {
        box-shadow: 0px 2px 1px 0px rgba($color: #000000, $alpha: 0.45);
    }

    &__button--login {
        color: $Primary;
    }

    &__button--signup {
        color: $White;
        background-color: $Primary;
    }

    &__buttons {
        display: inline-flex;
        font-size: 0.9rem;
        margin-right: 100px;
        gap: 15px;
    }
}

.hero {
    width: 100%;


    &__intro {
        background-color: $Silver;
        padding: 96px 144px 96px 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 104px;
    }

    &__title {
        font-size: 5rem;
        margin-bottom: 5px;
    }

    &__subtitle {
        font-size: 1rem;
        margin-bottom: 32px;
        color: $Grey;
    }

    &__title--first {
        color: $D_Grey;
    }

    &__title--second {
        color: $Primary;
    }

    &__button {
        background-color: $Primary;
        color: $White;
        border-radius: 4px;
        font-size: 1rem;
        height: 52px;
        width: 128px;
    }


    &__clients {
        text-align: center;
        margin: 40px 0px 40px 0px;

        &-title {
            font-size: 2.6rem;
            color: $D_Grey;
        }

        &-subtitle {
            font-size: 1.1rem;
            color: $Grey;
            margin-bottom: 16px;
        }

        &-logos {
            display: inline-flex;
            flex-shrink: 0;
            height: 100px;
            align-items: center;
            gap: 9vw;
        }
    }


    &__features {
        text-align: center;
        display: block;
        gap: 30px;
        margin: 0px 144px 0px 144px;

        &-title {
            font-size: 2.6rem;
            color: $D_Grey;
        }

        &-subtitle {
            margin: 10px 0px 16px 0px;
            font-size: 1.1rem;
            color: $Grey;
        }

        &-list {
         display: inline-flex;
         justify-content: center;
         flex-wrap: wrap;
         gap: 9vw;
        }

    }

    &__feature {

        &-item {
            margin-top: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            padding: 10px;
        }

        &-image {
            margin-bottom: 16px;
        }

        &-title {
            font-size: 2rem;
            color: $D_Grey;
            margin-bottom: 10px;
        }

        &-text {
            font-size: 1rem;
            color: $Grey;
        }
    }
}

.page {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px 144px 0px 144px;
    gap: auto;

    &__title {
        color: $D_Grey;
        font-size: 2rem;
    }

    &__subtitle {
        margin-top: 20px;
        color: $Grey;
        font-size: 1rem;
    }

    &__button {
        margin-top: 32px;
        width: 151px;
        height: 52px;
        color: $Silver;
        border-radius: 4px;
        font-size: 1rem;
        background-color: $Primary;
    }
}

.stats {
    background-color: $Silver;
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    padding: 64px 144px 64px 144px;
    
    align-items: center;
    justify-content: space-evenly;

    &__title {
        font-size: 2rem;
    }

    &__subtitle {
        font-size: 0.9rem;
    }

    &__list {
        display: grid;
        gap: 30px 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &__item {
        display: inline-flex;
        gap: 16px;
    }

    &__number {
        font-size: 1.5rem;
        margin-bottom: 5px;
        color: $D_Grey;
    }

    &__label {
        font-size: 1rem;
        color: $Grey;
    }


}

.process {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        font-size: 2rem;
        color: $D_Grey;
        margin-bottom: 16px;
    }

    &__subtitle {
        font-size: 1rem;
        color: $Grey;
        margin-bottom: 32px;
    }

    &__button {
        height: 50px;
        width: 150px;
        background-color: $Primary;
        font-size: 1rem;
        border-radius: 4px;
        color: $White;
    }
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 35px 0px 0px 0px;
    align-items: center;
    background-color: $Silver;


    &__text {
        font-size: 1.2rem;
        color: $Grey;
        margin-bottom: 16px;
    }

    &__author {
        font-size: 1.5rem;
        color: $Primary;
        margin-bottom: 10px;
    }

    &__company {
        font-size: 1.3rem;
        color: #89939E;
        margin-bottom: 20px;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        color: $Primary;
        background-color: transparent;
        width: 220px;
        height: 45px;
        font-size: 1.3rem;
    }
}


.blog {
    text-align: center;
    margin-bottom: 128px;

    &__title {
        font-size: 2rem;
        color: $D_Grey;
        margin: 16px 0px 16px 0px;
    }

    &__subtitle {
        font-size: 1rem;
        color: $Grey;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    &__card {
        margin-top: 200px;
        width: 320px;
        height: 175px;
        padding: 16px;
        background-color: $Silver;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 8px;

        &-text {
            color: $Grey;
            font-size: 1.3rem;
            margin-bottom: 16px;
        }

        &-button {
            width: 285px;
            height: 45px;
            background-color: transparent;
            color: $Primary;
            font-size: 1.5rem;
        }
    }
}



.cta {
    text-align: center;
    font-size: 2rem;
    padding: 32px 0px 32px 0px;
    background-color: $Silver;

    &__title {
        margin-bottom: 32px;
        color: $Black;
    }

    &__button {
        width: 178px;
        height: 52px;
        color: $Silver;
        border-radius: 4px;
        font-size: 1rem;
        background-color: $Primary;
    }
}

.footer {
    background-color: $Black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 180px;
    row-gap: 50px;
    width: 100%;
    color: $White;

    &__info {
        padding: 67px 50px 67px 0px;
    }

    &__copyright {
        margin: 50px 0px 10px 0px;
        font-size: 0.9rem;
        color: $Silver;
    }

    &__rights {
        font-size: 0.9rem;
        margin-bottom: 40px;
        color: $Silver;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__columns {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 15px;
        color: $Silver;
    }

    &__link {
        font-size: 1rem;
    }

    &__input {
        margin-top: 30px;
        background-color: #515B60;
        color: #D8DBE1;
        width: 255px;
        height: 40px;
        font-size: 1rem;
        border-radius: 8px;
    }

}